{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul class="list-group">
            <li>First Name: {{ user.firstname }}</li>
            <li>Last Name: {{ user.lastname }}</li>
            <li>Full Name: {{ fullname }}</li>
        </ul>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}


