{% extends 'base.html.twig' %}

{% block javascripts %}

{% endblock %}

{% block content %}
    <div class="col-lg-8 box-form">
        <h2 class="page-header">My Data</h2>

        {{ form_start(form, {'enctype': 'multipart/form-data'}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}