body{
    background: #eeeeee;
}

/* HEADER */
.navbar-collapse .avatar{
    background: white;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -3px;
}

.navbar-collapse .avatar img{
    height: 100%;
    text-align: center;
}

.box-form, .box-default{
    background: white;
    border: 1px solid #cccccc;
    padding: 20px;
    margin: 0 auto;
    float: none;
    padding-top: 0;
}

.user-item .avatar, .publication-item .avatar{
    background: #eee;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;

}

.user-item .avatar img, #user-card .avatar img, .publication-item .avatar img{
    height: 100%;
    text-align: center;
}

.user-item .user-item-content, .publication-item .publication-item-content{
    padding: 10px ;
    margin-left: 85px;
}

.user-link{
    color: black;
}

/* HOME */

#timeline{
    margin-right: 20px;
    min-height: 750px;
    padding-bottom: 20px;
}
#user-card{
    padding: 10px;
    margin-bottom: 20px;
}

#user-card .avatar{
    background: #eee;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}

#user-card .avatar img.default{
    opacity: .5;

}

#user-card .name-lastname{
    float: left;
    font-size: 20px;
    padding: 10px;
}

#user-card .name-lastname a{
    color: black;
}

#user-card .nickname{
    opacity: .7;
}

#user-card .following-data{
    width: 25%;
    float: left;
    text-align: center;
    border-top: 1px solid #cccccc;
    margin-top: 10px;
    padding: 5px;
}

#user-card .following-data a{
    color: #444444;
}

#user-card .following-data a:hover{
    color: black;
    text-decoration: none;
}

#user-card .following-data .label-stat{
    display: block;
}

#user-card .following-data .number-stat{
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.base-footer{
    padding-top: 20px;
    border-top: .5px solid #b5b5b5;
    margin-top: 20px;
    margin-bottom: 20px;

}

#new-publication input, #new-publication textarea{
    margin-bottom: 10px;
}

.pub-name-link{
    font-weight: bold;
    color: black;
}

.pub-dates{
    color:gray;
}

.pub-image{
    display: none;
    transition: all 300ms;
}

.pub-image img{
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.publication-item .glyphicon{
    margin-right:7px;
    cursor: pointer;
    color: #444444 !important;
}

.like{
    margin-top:-45px;
    font-size: 25px;
}

.like .btn-like:hover{
    color:red !important;
    cursor:pointer;
}

.like .active{
    color: red !important;
}

.profile-box{
    padding: 20px;
    margin: 0 auto;
    float: none;
}
.profile-box > .avatar{
    background: #eeeeee;
    border-radius: 50px;
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin: 0 auto;
}

.profile-box > .avatar img{
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.profile-box .bio{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-box #user_stats{
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    width: 48%;
    text-align: center;

}

.profile-box #user_stats .following-data{
    float:left;
}

.profile-box #user_stats a{
    color: #444444;
}

.profile-box #user_stats .label-stat{
    display: block;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.profile-box #user_stats .number-stat{
    font-weight: bold;
}

.profile-box .buttons-following{
    margin-top: 20px;
}

label {
    margin-top: 20px;
}

.box-private-message input, .box-private-message textarea{
    margin-bottom: 10px;
}
.private-message{
    margin-left: 20px;
    padding-left: 70px;

}